<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<script type="text/javascript">
	$(function() {
	  setTimeout(function(){
	    $('li[data-img-src]').each(function(){
	      var src = $(this).attr('data-img-src');
	      $('<img>').attr('src', src).appendTo('ul');
	    });
	  }, 600);
	});
</script>

<body>
	<div class="container" style="margin-top: 20px">
		<div class="row">
			<div class="col s12 m3 l3">
				<img class="circle responsive-img z-depth-2" src="img/profile.png">
			</div>
			<div class="col s12 m6 l7 center ">
				<h3>Felipe Resende</h3>

				<p>This is my portfolio of illustrations with illustrations for events, commissions, comics and other personal works. Main contact in <a href="mailto:feliperesendehq@outlook.com">feliperesendehq@outlook.com</a></p>
			</div>
			<div class="col s12 m3 l2 right">
				<!--<a href="https://www.patreon.com/feliperesende" target="_blak">
					<p class="valign-wrapper center-align">
					<img src="img/social/path.png" class="circle">&nbsp;Patreon</p>
				</a>
				<a href="https://twitter.com/FelipeResendeHQ" target="_blank">
					<p class="valign-wrapper center-align">
					<img src="img/social/twitter.png" class="circle">&nbsp;Twitter</p>
				</a>-->
				<a href="https://www.facebook.com/felipe.resende.967" target="_blank">
					<p class="valign-wrapper center-align">
					<img src="img/social/facebook.png" class="circle">&nbsp;Facebook</p>
				</a>
				<a href="mailto:feliperesendehq@outlook.com" target="_blank">
					<p class="valign-wrapper center-align">
					<img src="img/social/gmail.png" class="circle">&nbsp;Email</p>
				</a>
				<a href="https://github.com/FelipeRes" target="_blank">
					<p class="valign-wrapper center-align">
					<img src="img/social/github.png" class="circle">&nbsp;Github</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 center">
				<h4 class="center">Personal Project </h4>
				<p class="center"><b>This is my recent game project. Is a fantasy fighting game with UMVC3 elements and cartoon style.</b></p>
				<img src="img/aleatory/gameplay.gif" v-bind:src="pic">
			</div>
		</div>
		<div class="row">
        <div id="images">
        	<div class="col s12 m12 l12 left-align">
							<h4 class="center">Events </h4>
							<p class="center"><b>These are posters of events that I participated and organized</b></p>
							<div class="col s12 m6 l4" v-for='pic in aleatory'>
								<div class="card">
									<div class="card-image s12 m6 l4">
										<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
									</div>
								</div>
							</div>
						</div>
						<hr>
            <div class="col s12 m12 l12 left-align">
							<h4 class="center">Comics </h4>
							<p class="center"><b>I like draw comics and these are some studies, orders and personal works</b></p>
							<div class="col s12 m6 l4" v-for='pic in comic'>
								<div class="card">
									<div class="card-image s12 m6 l4">
										<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
									</div>
								</div>
							</div>
						</div>
						<hr>
            <div class="col s12 m12 l12 left-align">
							<h4 class="center">Free Draw</h4>
							<p class="center"><b>Sometimes, I make some fanarts and complex more complex drawings</b></p>
	            <div class="col s12 m6 l4" v-for='pic in works'>
									<div class="card">
										<div class="card-image s12 m6 l4">
											<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
										</div>
									</div>
								</div>
						</div>
						<div class="col s12 m12 l12 left-align">
								<a href="https://labiras.cc/crownbrawl/"><h4 class="center">Crown Brawl</h4></a>
								<p class="center"><b>This is a game where I participated as a programmer, screen designer, illustrator, did some 3D modeling and textures. I did a little of everything. You can visit the <a href="https://labiras.cc/crownbrawl/">site</a> for more information</b></p>
								<div class="col s12 m6 l4" v-for='pic in games'>
										<div class="card">
											<div class="card-image s12 m6 l4">
												<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
											</div>
										</div>
									</div>
							</div>
							<div class="col s12 m12 l12 left-align">
									<h4 class="center">Logos</h4>
									<p class="center"><b>These are some logos to orders. Here are works with vector, 3D model and ilustrations</b></p>
									<div class="col s12 m6 l4" v-for='pic in logos'>
											<div class="card">
												<div class="card-image s12 m6 l4">
													<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
												</div>
											</div>
										</div>
								</div>
        </div>
		</div>
		<div class="col s12 m12 l12 center">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el:'#images',
			data: {
				aleatory:[
					'img/aleatory/Cartaz.jpg',
					'img/comic/arduino-day-cartaz.jpg',
					'img/works/cartaz-sangria.jpg',
					'img/works/cartaz.jpg',
					'img/works/GenuinoDay Cartaz2GG.jpg',
					'img/works/Cartaz Final.jpg',
				],
				comic:[
					'img/comic/magesty.jpg',
					'img/comic/apo-capa-04.jpg',
					'img/comic/01.jpg',
					'img/comic/desperta autor.jpg',
					'img/comic/Piromantica.jpg',
					'img/comic/Example Page.jpg',
				],
				works:[
					
					'img/aleatory/CBHQ-menor.jpg',
					'img/aleatory/Eclipsa.jpg',
					'img/aleatory/rococo2.jpg',
					'img/aleatory/Scitech4.jpg',
					'img/aleatory/Piromantica3-2.jpg',
					'img/aleatory/Guarda da fronteira.jpg',
					'img/aleatory/cenaelaborada2.png',
					'img/aleatory/cbmap - Copia.jpg',
					'img/aleatory/reuniao.png',
					
				],
				games:[
					'img/works/circus.jpg',
					'img/works/ice_world.jpg',
					'img/works/temple.jpg',
					'img/works/lumber_mill.jpg',
					'img/works/Capture.png',
					'img/works/Screenshot (17).jpg',
				],
				logos:[
					'img/aleatory/kendo logo2.png',
					'img/aleatory/sapiencia.png',
					'img/aleatory/CamisaFinal.jpg',
					'img/aleatory/brogame.png',
					'img/aleatory/theraiz5.png',
					'img/aleatory/skywaydrone.png',
				]
			}
		})
	</script>
</body>
</html>
