<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<script type="text/javascript">
	$(function() {
	  setTimeout(function(){
	    $('li[data-img-src]').each(function(){
	      var src = $(this).attr('data-img-src');
	      $('<img>').attr('src', src).appendTo('ul');
	    });
	  }, 600);
	});
</script>

<body>
	<div >
		<div class="row">
			<div class="col s12 m12 l12 center ">
				<img class="circle responsive-img z-depth-1" src="img/profile.png">
				<h3>Felipe Resende</h3>
				<p>My portfolio and illustrations for events, commissions, comics and others personal works. Main contact in <a href="mailto:feliperesendehq@outlook.com">feliperesendehq@outlook.com</a></p>
			</div>
			<!--<div class="col s12 m3 l2 right">
				<a href="https://www.facebook.com/IHC-Comics-386883948451750/" target="_blank">
					<p class="valign-wrapper center-align">
					<img src="img/social/facebook.png" class="circle">&nbsp;Facebook</p>
				</a>
				<a href="mailto:feliperesendehq@outlook.com" target="_blank">
					<p class="valign-wrapper center-align">
					<img src="img/social/gmail.png" class="circle">&nbsp;Email</p>
				</a>
				<a href="https://github.com/FelipeRes" target="_blank">
					<p class="valign-wrapper center-align">
					<img src="img/social/github.png" class="circle">&nbsp;Github</p>
				</a>
			</div>-->
			<div class="col s12 m12 l12 center">
				<a href="https://www.facebook.com/IHC-Comics-386883948451750/" target="_blank">
					<img src="img/social/facebook.png" class="circle">&nbsp;Facebook
				</a>
				<a href="mailto:feliperesendehq@outlook.com" target="_blank">
					<img src="img/social/gmail.png" class="circle">&nbsp;Email
				</a>
				<a href="https://github.com/FelipeRes" target="_blank">
					<img src="img/social/github.png" class="circle">&nbsp;Github
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 center">
				<h4 class="center">Personal Game Projects </h4>
				<img src="img/aleatory/gameplay.gif" v-bind:src="pic">
				<img src="img/aleatory/rep2.gif" v-bind:src="pic">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 center">
				<video id="vid" playsinline autoplay muted loop controls>
					<source src="img/video/Process.mp4" type="video/mp4">
				  </video>
			</div>
		</div>
		<div class="row">
        <div id="images">
        	<div class="col s12 m12 l12 left-align">
							<h4 class="center">Events </h4>
							<p class="center"><b>These are posters of events that I participated and organized</b></p>
							<div class="col s12 m6 l4" v-for='pic in aleatory'>
								<div class="card">
									<div class="card-image s12 m6 l4">
										<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
									</div>
								</div>
							</div>
						</div>
						<hr>
            <div class="col s12 m12 l12 left-align">
							<h4 class="center">Comics </h4>
							<p class="center"><b>I like to draw comics and these are some studies and projects, orders and personal works</b></p>
							<div class="col s12 m6 l4" v-for='pic in comic'>
								<div class="card">
									<div class="card-image s12 m6 l4">
										<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
									</div>
								</div>
							</div>
						</div>
						<hr>
            <div class="col s12 m12 l12 left-align">
							<h4 class="center">Free Draw</h4>
							<p class="center"><b>Sometimes, I make some fanarts and complex more complex drawings</b></p>
	            <div class="col s12 m6 l4" v-for='pic in works'>
									<div class="card">
										<div class="card-image s12 m6 l4">
											<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
										</div>
									</div>
								</div>
						</div>
						<div class="col s12 m12 l12 left-align">
								<a href="https://labiras.cc/crownbrawl/"><h4 class="center">Crown Brawl</h4></a>
								<p class="center"><b>This is a game where I participated as programmer, UI designer, illustrator, did some 3D modeling and textures. I did a little of everything. You can visit the <a href="https://labiras.cc/crownbrawl/">site</a> for more information</b></p>
								<div class="col s12 m6 l4" v-for='pic in games'>
										<div class="card">
											<div class="card-image s12 m6 l4">
												<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
											</div>
										</div>
									</div>
							</div>
							<div class="col s12 m3 l12 left-align">
								<h4 class="center">Some characters from a new project</h4>
								<div class="col s12 m6 l4" v-for='pic in characters'>
										<div class="card">
											<div class="card-image s12 m6 l4">
												<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
											</div>
										</div>
									</div>
							</div>
							
							<!--<div class="col s12 m12 l12 left-align">
									<h4 class="center">Logos</h4>
									<p class="center"><b>These are some logos to orders. Here are works with vector, 3D model and ilustrations</b></p>
									<div class="col s12 m6 l4" v-for='pic in logos'>
											<div class="card">
												<div class="card-image s12 m6 l4">
													<img class="responsive-img z-depth-2 materialboxed hoverable" v-bind:src="pic">
												</div>
											</div>
										</div>
								</div>-->
        </div>
		</div>
		<div class="col s12 m12 l12 center">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el:'#images',
			data: {
				aleatory:[
					'img/aleatory/c.jpg',
					'img/works/cartaz.jpg',
					'img/works/cartaz-sangria.jpg',
				],
				comic:[
					'img/comic/apo-capa-04.jpg',
					'img/comic/cover2.jpg',
					'img/comic/Capa Alternativa.png',
					'img/comic/thumb2.png',
					'img/comic/show.png',
					'img/comic/thumb.png',
					'img/comic/magesty.jpg',
					
				],
				works:[
					'img/aleatory/trajes.png',
					'img/aleatory/CBHQ-menor.jpg',
					'img/aleatory/apox.jpg',

					'img/aleatory/camisa.jpg',
					'img/aleatory/Eclipsa.jpg',
					'img/aleatory/rococo2.jpg',
					
					'img/aleatory/reuniao.png',
					'img/aleatory/aula.jpg',
					'img/aleatory/Piromantica3-2.jpg',
					
					'img/aleatory/image.png',
					'img/aleatory/fanart.png',
					'img/aleatory/oxente.jpg',
					'img/aleatory/sheha.jpg',
					
					'img/aleatory/festa junina.jpg',
					'img/aleatory/cenaelaborada2.png',
				],
				games:[
					'img/works/circus.jpg',
					'img/works/ice_world.jpg',
					'img/works/temple.jpg',
					'img/works/lumber_mill.jpg',
					'img/works/Capture.png',
					'img/works/Screenshot (17).jpg',
				],
				logos:[
					'img/aleatory/kendo logo2.png',
					'img/aleatory/sapiencia.png',
					'img/aleatory/CamisaFinal.jpg',
					'img/aleatory/brogame.png',
					'img/aleatory/theraiz5.png',
					'img/aleatory/skywaydrone.png',
				],
				characters:[
					'img/chars/cara.jpg',
					'img/chars/yasmin.jpg',
					'img/chars/igor.jpg',
					'img/chars/max.jpg',
					'img/chars/clara.jpg',
					'img/chars/tonhao.jpg',
				]
			}
		})
	</script>
</body>
</html>
